* {
    margin: 0;
}

:root {
    --primary_color: rgb(0, 162, 255);
    --secondary_color: rgb(0, 255, 149);
    --tertiary_color: rgb(243, 146, 36);
    --borders: rgb(5, 18, 92);
}

header {
    padding: 50px 0 65px 0;
    background: linear-gradient(90deg, var(--borders) 0%, rgb(9, 34, 179) 49%, var(--primary_color) 100%);
}

h1 {
    position: relative;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#avatar_image {
    position: absolute;
    border-radius: 50px;
    margin-top: -30px;
    margin-left: 10px;
    border: 2px solid black;
    filter: brightness(90%);
}

nav {
    font-family: fantasy;
    float: right;
    margin-right: 10px;
    margin-top: 15px;
}

nav a {
    color: black;
    text-decoration: none;
    border: 5px solid black;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--secondary_color);
}

nav a:hover {
    background-color: var(--tertiary_color);
}

h2 {
    text-align: center;
    background-color: var(--secondary_color);
    border-top: 2px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section {
    border-top: 2px solid var(--borders);
    background-color: var(--primary_color);
    padding-left: 1.5%;
}

article {
    margin: .75%;
    margin-left: 1.75%;
    width: 30%;
    height: 300px;
    display: inline-block;
    position: relative;
}

article img {
    border: 3px dashed var(--borders);
    width: 100%;
    height: 100%;
}

article img:hover {
    border: 3px dashed var(--tertiary_color);
}

article p {
    border: 3px dashed var(--borders);
    text-align: center;
    bottom: 140px;
    position: absolute;
    width: 100%;
}

.img_titles {
    border: 3px solid var(--borders);
    width: 33%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--tertiary_color);
    position: absolute;
    bottom: 15px;
    left: 15px;
}

article:hover .img_titles {
    background-color: var(--secondary_color);
}

footer {
    text-align: center;
    background-color: var(--secondary_color);
    font-size: 18px;
    padding-bottom: 25px;
}

@media (max-width: 1150px) {
    article {width: 45%;
    }
    header {
        padding: 50px 0 115px 0;
    }
    h1{
        text-align: center;
    }
    nav {
        margin-top: 65px;
    }
}
 
@media (max-width: 700px) {
    article {width: 80%;
    }
    header {
        padding: 50px 0 130px 0;
    }
    nav {
        margin-top: 80px;
    }
    h1{
        margin-left: 7%;
        text-align: left;
        padding-right: 150px;
    }
    #avatar_image {
        position: relative;
        margin: 10px 200px 0 0;
    } 
    section {
        padding-left: 12%;
    }
}
